<h1>Lista de usuários</h1>

<div>
    <ol>
        <hr>
        <li *ngFor="let usuario of usuarios">
            <ul>
                <li>Id: {{ usuario.id }}</li>
                <li>Nome: {{ usuario.name }}</li>
                <li>Nome de usuario: {{ usuario.username }}</li>
                <li>Email: {{ usuario.email | lowercase }}</li>
                <li>Endereço: {{ usuario.address.street }}</li>
                <li>Cidade: {{ usuario.address.city }}</li>
             
            </ul>
         <hr>   
        </li>   
    </ol>   
</div>
