<h1>Lista de usuários</h1>

<div>
    <ol>
        <hr>
        <li *ngFor="let usuario of usuarios">
            <ul>
                <li><strong>Id:</strong> {{ usuario.id }}</li>
                <li><strong>Nome:</strong> {{ usuario.name }}</li>
                <li><strong>Nome de usuario:</strong> {{ usuario.username }}</li>
                <li><strong>Email:</strong> {{ usuario.email | lowercase }}</li>
                <li><strong>Endereço:</strong> {{ usuario.address.street }}</li>
                <li><strong>Cidade:</strong> {{ usuario.address.city }}</li>
             
            </ul>
         <hr>   
        </li>   
    </ol>   
</div>
